@import url('https://fonts.cdnfonts.com/css/arca-majora-3');

body {
    margin: 0;
    font-family: 'Arca Majora 3', sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(20, 22, 19);
    color: #fff;
    padding: 10px 20px;
}

.logo img {
    height: 30px;
}

nav ul {

    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {

    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.title {

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.title a {
    color: white;
    text-decoration: none;

}

.left-content {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: justify;

}

.t1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.imagem {
    display: flex;
    justify-content: space-around;
}

.imagem img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

h2 {
    color: #CB6CE6;
}

.texto-coluna {
    flex: 1;
    margin-right: 20px;
    text-align: justify;

}

.topicos-coluna {
    flex: 1;
    border-left: 2px solid white;
    padding-left: 150px;
}

.topicos-lista {
    padding: 0;
    font-size: 20px;
}

.topicos-lista li {
    margin-bottom: 10px;
    list-style-type: none;
}

#corP {
    color: #CB6CE6;
}

#corH2 {
    color: white;
}

#audio-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#audio-button img {
    height: 60px;
}

.botao-mascote, .mascote{
    display: none;
}